<header class="navbar navbar-default navbar-fixed-top">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Global Village Foundation</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/"><i class="fa fa-home"></i>&nbsp;</span> Home</a>
          </li>
          <li><a href="/about">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              {% for about_page in site.about_pages %}
                <li><a href="{{ about_page[1]  }}">{{ about_page[0] }}</a></li>
              {% endfor %}
            </ul>
          </li>
          
          <li><a href="#">Teams</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              {% for team_page in site.team_pages %}
                <li><a href="{{ team_page[1]  }}">{{ team_page[0] }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="/pubs">Publications</a></li>
          <li><a href="/news_events">News & Events</a></li>
          <li>
            <a href="/"><i class="fa fa-facebook circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-twitter circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-linkedin circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-google-plus circle"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>