<% provide(:title, "Agriculture") %> 
<h1>Agriculture</h1>
<p>
Global Village Foundation agriculture Team is engaged in holistic development of agriculture for the 

state of Haryana.</p>
<p>
Haryana is synonymous with agriculture; it is a rice bowl of India. Though Haryana have progressed 

steadily in farm production but allied sectors like fisheries and forestry which would have grown as 

well had fallen back in the growth trajectory. GVF is committed to reverse this negative trend by 

focusing on Forestry and horticulture in the state. It is our endeavour to introduce traditional Indian 

crops like millets and other water arid crops which will have significant effect on the topography of 

the region.</p>
<p>

The required level of investment for the development of marketing, storage and cold storage 

infrastructure is estimated to be huge. The government has not been able to implement schemes to 

raise investment in marketing and infrastructure. GVF will do research on topics like, Construction of 

Rural Godowns, Market Research and Information Network, and Development / Strengthening of 

Agricultural Marketing Infrastructure, Grading and Standardisation.
</p>
<h2>Achievements</h2>
<p>
        Advised the Government of Haryana and accordingly helped the Government in 
        constituting clusters of 10-15 villages in each district. These clusters would be specialized 
        in producing agricultural products and agro processing based on market demands. They 
        all will be diverse depending on the ecological zone of the region. There are efforts made 
        for market linkages to ensure sound income for the farmers.</p>