<% provide(:title, "Beti bachao,Beti padhao") %> 
<h1>Beti Bachao, Beti Padhao (Women Empowerment)</h1>
<p>The Women Empowerment and B3P team has evolved as a prominent 

advocate of women rights in the country. The team has initiated 

several pro-women programs under skill development initiatives in 

Haryana</p>
<h2>Achievemnts</h2>
     <p>
    GVF works in close coordination with the Adviser to Chief Minister Shri Yogendra 
    Malik and has assisted in organizing groups of workers in different regions of Haryana 
    with low sex ratio. GVF has made many suggestions in this direction which are showing 
    impressive results.</p>