<% provide(:title, "Energy") %> 
<h1>Energy</h1>
<h2>Achievements</h2>
<p>GVF has done a comprehensive study of losses suffered in generation, transmission and 
        distribution of power and on renewable sources. GVF is currently preparing a 
        comprehensive study with reforms to be suggested in all the related aspects of energy. 
        The comprehensive study is important. The Aggregate Technical and Commercial Losses 
        are more than 40%. This is a sign of concern since it is affecting the fiscal health of the 
        state and public interest. Due to this fiscal drain the State is unable to use the resources 
        for social and other economical development activities. Immediate steps need to be 
        taken to address these problems. GVF has a dedicated team of experts with detailed 
        knowledge of the problems in the power sector companies. The study will be watershed 
        in the field. It will have a strong impact and needs to be urgently addressed. A 
        comprehensive study on the power sector will be opportune.</p>