<% provide(:title, "Environment") %> 
<h1>Environment</h1>
<p>
Environment team of GVF is engaged in Advising the Government of Haryana on pressing 

environment issues in the state. Environment degradation is the major issue in Haryana and we 

endeavour to advice and research on how to restore the environment to its pristine glory

GVF will be making a comprehensive action plan and will be meeting govt officials for the same 

We will be working with Govt of Haryana on following topics . 
<ul>
<li>
Review the work relating to Environment undertaken in the State by Government and 

non-Government Organisations.</li>

<li>Advice the State Government of Environment issues of the State.</li>
<li>Identify areas requiring investigation, research and restoration in the field of 

environment.</li></ul>
</p>