<% provide(:title, "Public Financial Management") %> 
<h1>Public Financial Management</h1>
<p>
Public finance group of the GVF is engaged in the study of role of the government in the economy. 
The team assesses the government revenue and government expenditure of the state and present 
desirable effects and avoid undesirable outcomes. 
</p>
<p>
GVF Team engages in advising and researching in the subject matter of public finance for following:
<ul>
<li>Public expenditure</li>
<li>Public revenue</li>
<li>Public debt</li>
<li>Financial administration</li>
<li>Federal finance</li>
</ul>
</p>
<h2>Achievements</h2>
 <p>The Public Finance team of GVF comprises of tax experts, Chartered Accountants, Cost 
        Accountants, lawyers and economists of high standing. GVF conducted a one day 
        interactive session with the concerned officers of Excise, Taxation, Revenue and 
        Planning Department of Government of Haryana. Honourable Finance Minister Captain 
        Abhimanyu was present at this interaction. The workshop took place on 7 January 2015. 
        Some of the recommendations such as Amnesty Scheme for VAT has been already 
        implemented by the State Government.</p>
