<% provide(:title, "Public Finance") %> 
<h1>Public Finance</h1>
<p>
Public finance group of the GVF is engaged in the study of role of the government in the economy. 
The team assesses the government revenue and government expenditure of the state and present 
desirable effects and avoid undesirable outcomes. 

GVF Team engages in advising and researching in the subject matter of public finance for following:
1. Public expenditure
2. Public revenue
3. Public debt
4. Financial administration
5. Federal finance
</p>