<% provide(:title, "Industry") %> 
<h1>Industry</h1>
<h2>Achievements</h2>
 <p>
        The Industry Reforms team of GVF is comprehensive. It has experts with experience in 
        large companies, MSMS, innovation and start-ups. The team involves academics, 
        economists and industrialists. GVF did a two day workshop on 17 and 18 December 
        2015 on Industry Reforms in Haryana. Honourable Industry Minister Captain 
        Abhimanyu was present in the workshop and all concerned government officers also 
        actively participated. The outcome of the meeting was meant to be presented to the 
        Honourable Chief Minister.</p>
        <p>
        GVF is doing the project of conducting District wise profiling for the State of 
        Haryana. This will held in understanding the strengths of regions of Haryana where 
        industry has not yet grown. Resources could be allocated better and balanced regional 
        growth would be achieved. There is a need to hire 10 researches to conduct this research. 
        The grant would include their salaries, ta/da and other expenses. Detailed primary date 
        will be collected from all the districts. Secondary data will be analyzed. A report will be 
        prepared and submitted. This report will help in understand the situation of industry 
        better in Haryana and making necessary changes in policies.
        </p>
         <p>
        GVF is working to develop cooperative culture in Haryana. A team is constituted, which 
        is working on ways in which difficulties in registration and operation for cooperatives 
        can be taken care of.</p>