<% provide(:title, "Public Health") %> 
<h1>Public Health</h1>
<p>The public health team works on a wide range of health issues

including mother, child, reproductive, neonatal, adolescent 

healthcare, communicable diseases, non-communicable diseases, 

immunization, mental health programs, universal health insurance 

and care for elderly. The team follows the discourse ongoing on SDG 3 

nationally and globally. It is dedicated to the cause of developmental 

goals.</p>
<h2>Achievemnts</h2>
 <p>
        GVF is advising the Central Government on public health. GVF is advising the 
        Honourable Health Minister Shri J P Naddha on budgetary provisions and management.</p>