<% provide(:title, "Skill Development") %> 
<h1>Skill Development</h1>
<p>
Skill Development Team in GVF is functioning under the able leadership of Mr Raj Nehru.  The team 
comprises people with varied backgrounds working together for common goal of skilling 
unemployed youth of state of Haryana and make them employable in leading job ready sectors of 
Haryana.

The first major step in this direction is the initiative called CSR ITES Summit 2016 wherein Top ITES 
companies and leading Technical institutes are coming together and will sign MOU for skilling and 
employing Unemployed youth of Haryana. The programme is organized in association with 
NASSCOM Foundation and involves skilling youth at under graduate level and make them  employed 
by top IT companies .
</p>