<% provide(:title, "Urban Development") %> 
<h1>Urban Development</h1>
<h2>Achievements</h2>
<p>
        GVF has a team working on issues of Urban Development. GVF is now actively 
        involved in helping Karnal and Faridabad for their SMART City project after the first round.</p>