<% provide(:title, @user.name) %> 
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= gravatar_for @user, size: 400 %>
        <%= @user.name %> 
      </h3>
    </section>
  </aside>
  <%= link_to 'Edit', edit_user_registration_path(@user) %> |
</div>
