---
layout: default
title: Blog@GVF
---

<div id="home">
  
    {% for post in paginator.posts %}
    <div class="row">
      <div class="col-md-12">
      	<h2 style="align:left"><a href="/blog{{ post.url }}">{{ post.title }}</a></h2>
      	<p>
      		<article>
          {{ post.excerpt | strip_newlines }}
          {% capture content_words %} 
            {{ post.content | number_of_words }} 
          {% endcapture %} 
          {% capture excerpt_words %} 
            {{ post.excerpt | number_of_words }} 
          {% endcapture %} 
          {% if excerpt_words != content_words %}
          <span style="float:left;display:inline"><a class="btn" href="blog/{{ post.url }}/#read-more">more..</a></span>
          {% endif %}
          </article>
          <div style="float:right" class="col-md-4"><span>By&nbsp;<strong>{{post.author}}</strong>&nbsp;</span><span>on&nbsp;<strong>{{ post.date | date_to_string }}</strong></span></div>
      </div>
        </p>
      	
    </div>
    <hr>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: '/blog' |prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: '/blog' |prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: '/blog' |prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: '/blog' |prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  
</div>
