<% provide(:title, "About GVF") %> 
<h1>About GVF</h1>
 <p>Global Village Foundation is a think-tank primarily working on economic policies. It works in close coordination with Governments. At present it is focusing on economic policies of states and proposes policy interventions for achieving sustained and balanced growth. It also works on issues of international trade and economics.Global Village Foundation occupies a unique position since it works in close coordination with various Governments and their officials. It brings together experts in various fields and participates in the implementation process to achieve visible, effective and durable outcomes. Global Village Foundation engages in its fields of operation in three capacities. First, it formulates policies. These policies are formulated by groups of experts working in different fields. Second, the policies are conveyed to the government officials and the Global Village Foundation involves itself in the implementation process. Third is critical analysis of policies proposed and implemented. The third process is undertaken as an independent process to assess the impact and effectiveness of policies. The Global Village Foundation also works in close coordination with think tanks working on specific issues, NGOs working in different social and economic sectors and research and educational institutions established and run by governments.</p>

 Presently there are following groups working on different issues:<br><br>
<ul>
 <li>Foreign Investment & International Trade</li>
 <li>Skill Development</li>
 <li>Power</li>
 <li>Agriculture</li>
 <li>Animal Husbandry</li>
 <li>Rural Development</li>
 <li>Public Finance</li>
 <li>Education</li>