<% provide(:title, "Contact GVF") %> 
<h1>Contact GVF</h1>
<!-- Page Content -->
<div class="container">
	<!-- Introduction Row -->
	<div class="row">
		<div class="col-md-12">
			<p>
				<strong>Registered Office:</strong><br>
				Global Village Foundation<br>

				301-A, Ring Road Mall, Manglam Place,<br>
				Deepali Chowk, Rohini Sector-3, <br>Delhi-110085<br>
				<br>
				Tel no: 011-43735356, 57
			</p>
			<p>
				<strong>Academic Office:</strong><br>
				K-13, Lajpat Nagar - II<br>
				Delhi - 110034<br>
			</p>
		</div>
	</div>
</div>