<% provide(:title, "News and Events") %>
<h1>News & Events</h1>
<div class="container">
  <div class="posts">
    <div class="row post text">  
      <div class="col-lg-2">
        <div class="date">
      <a href="http://news.bootswatch.com/post/131219814698/changes-to-bootswatch-api">15 October 2015</a>
    </div> <!-- .date -->
        <div class="tweet share-link clearfix">
     <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.ab4ec33f73214445796a87ce54aee452.en.html#_=1450122261313&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fnews.bootswatch.com%2F&amp;size=m&amp;text=Changes%20to%20Bootswatch%20API&amp;type=share&amp;url=http%3A%2F%2Fnews.bootswatch.com%2Fpost%2F131219814698%2Fchanges-to-bootswatch-api&amp;via=bootswatch" style="position: static; visibility: visible; width: 61px; height: 20px;" data-url="http://news.bootswatch.com/post/131219814698/changes-to-bootswatch-api"></iframe>
    </div>
   </div> <!-- .span3 -->
      <div class="col-lg-6 entry"> 
        <div class="title">
      <h2><a href="http://news.bootswatch.com/post/131219814698/changes-to-bootswatch-api">Changes to Bootswatch API</a></h2>
    </div> <!-- .title -->
     <div class="POST">
        <p>If you’re using the Bootswatch API, please update your request to&nbsp;<a href="https://bootswatch.com/api/3.json">https://bootswatch.com/api/3.json</a>. The old endpoint will cease to exist on <b>December 16, 2015</b>.</p><p>Up to this point, the API has been made available through AppFog. However, they recently announced that they’ll be retiring the free tier this December.&nbsp;Big thanks to AppFog for the service they provided.</p><p>The new URL is live, and as a bonus, available via https. More information at&nbsp;<a href="http://bootswatch.com/help/#api">http://bootswatch.com/help/#api</a>.<br></p>
    </div> 
   </div> <!-- .entry -->
   <div class="col-lg-3 col-lg-offset-1">
      <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
   </div> <!-- .span3 -->
  </div> <!-- .row .post -->

    <hr>

  <div class="row post text">  
   <div class="col-lg-2">
    <div class="date">
     <a href="http://news.bootswatch.com/post/125928533622/find-the-right-google-web-fonts-for-your-project">5 August 2015</a>
    </div> <!-- .date -->
    <div class="tweet share-link clearfix">
     <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.ab4ec33f73214445796a87ce54aee452.en.html#_=1450122261316&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fnews.bootswatch.com%2F&amp;size=m&amp;text=Find%20the%20right%20Google%20Web%20Fonts%20for%20your%20project%20with%20FontCDN&amp;type=share&amp;url=http%3A%2F%2Fnews.bootswatch.com%2Fpost%2F125928533622%2Ffind-the-right-google-web-fonts-for-your-project&amp;via=bootswatch" style="position: static; visibility: visible; width: 61px; height: 20px;" data-url="http://news.bootswatch.com/post/125928533622/find-the-right-google-web-fonts-for-your-project"></iframe>
    </div>
   </div> <!-- .span3 -->
      <div class="col-lg-6 entry"> 
      <div class="title">
     <h2><a href="http://news.bootswatch.com/post/125928533622/find-the-right-google-web-fonts-for-your-project">Find the right Google Web Fonts for your project with FontCDN</a></h2>
    </div> <!-- .title -->
    <div class="POST">
          <figure data-orig-width="1828" data-orig-height="916" class="tmblr-full"><img src="http://40.media.tumblr.com/ceb65566c1e6a9d528d58f4c9e9c6140/tumblr_inline_nskibiynd81qb17pp_500.png" alt="image" data-orig-width="1828" data-orig-height="916" width="500" height="250"></figure><p><a href="http://fontcdn.org">FontCDN</a> is a new tool for those of us who love Google Fonts as a service, but want a faster way to grab the code we need. We built FontCDN so you can easily search their 700+ web fonts and quickly grab any font’s HTML and CSS.&nbsp;</p><p>For more on the motivations behind FontCDN, check out the post&nbsp;<a href="http://thomaspark.co/2015/08/a-better-way-to-search-google-fonts/">A Better Way to Search Google Fonts</a>. If you’re interested in figuring out which platforms you should support when building tools for other web developers, check out the Bootswatch and GlyphSearch data presented in the post <a href="http://thomaspark.co/2015/08/developing-for-web-developers/">Developing for Web Developers</a>.</p><p>FontCDN is available at <a href="http://fontcdn.org">fontcdn.org</a>.</p>
    </div> 
   </div> <!-- .entry -->
   <div class="col-lg-3 col-lg-offset-1">
      <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="//bootswatch.com/assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
   </div> <!-- .span3 -->
  </div> <!-- .row .post -->
   
  <hr>

  <ul class="pager">
   <li><a href="/events">Next page</a></li>
  </ul>
  
  <footer>
   <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>
 </div>