<% provide(:title, "Home") %>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="gvf-logo">
      <img src="<%= asset_path('logo.png') %>">
    </a>
    <h1>Global Village Foundation</h1>
    <p>This is GVF website. Here we can have our motto or something like that. Please add</p>
  </div>
</div>
</div>
<div class="container">
  <section class="services">
    <div class="header">
      <div class="container-fluid">
        <h1>our work</h1>
      </div>
    </div>
    <article class="container service-entry">
      <div class="service-title">
        <h1 class="h4">
          <a href="/delivery" class="service-title link-alt">Delivery</a>
        </h1>
      </div>
      <div class="service-snippet">
        <p>Delivery is at the heart of what we do. Our team of designers and developers work to transform government services by building world-class software products and raising standards of software development throughout the government. Learn more about our products by visiting our <a href='/dashboard'>dashboard</a> and you can find more information about <a href='/guides'>our standards and capabilities</a> through our guides.</p>
        <p>Learn more about <a href='/dashboard'>what we're building and how we're doing it</a>.</p>
      </div>
      
      <div class="service-title">
        <h1 class="h4">
          <a href="/consulting" class="service-title link-alt">Consulting</a>
        </h1>
      </div>
      <div class="service-snippet">
        <p>Our consulting team works alongside other federal agencies as partners. We’re here to roll up our sleeves right alongside you and solve the biggest challenges facing your agency. From developing agile acquisition strategies to evaluating opportunities to improving your digital initiatives, our team sets you up for success.</p>
        <p>Learn more about the ways we can help you at <a href='/consulting/'>GVF Consulting</a>.</p>
      </div>    
    </article>  
  </section>
</div>
