<% provide(:title, "Home") %>
<div class="container" style="margin-top: 20px;">
  <%= render 'layouts/homeCarousel' %>
</div>
<div class="container">
  <section>
    <div class="header">
      <h1>vision and mission</h1>
      <hr>
    </div>
    <article>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <p>Global Village Foundation believes and works to achieve holistic empowerment of individuals. We envision societal solidarity to achieve common goals for the welfare of the global community. GVF aims to facilitate effective policy frameworks to achieve equitable developmental goals and responsive governance. 
          </p>
          <p>GVF endeavors to grow, as a leader in groundbreaking research in needs assessment, policy formulation, implementation and evaluation by adopting innovative and stakeholder-inclusive methods.</p>
        </div>
      </div>
    </article>
  </section>
  <section>
    <div class="header">
      <div>
        <h1>our work</h1>
        <hr>
      </div>
    </div>
    <article>
      <div class="row">
        <div class="col-lg-12 col-md-12"><p>Global Village Foundation is a think-tank primarily working on economic policies. It works in close coordination with Governments. At present it is focusing on economic policies of states and proposes policy interventions for achieving sustained and balanced growth. It also works on issues of international trade and economics. Global Village Foundation occupies a unique position since it works in close coordination with various Governments and their officials. It brings together experts in various fields and participates in the implementation process to achieve visible, effective and durable outcomes. Global Village Foundation engages in its fields of operation in three capacities. First, it formulates policies. These policies are formulated by groups of experts working in different fields. Second, the policies are conveyed to the government officials and the Global Village Foundation involves itself in the implementation process. Third is critical analysis of policies proposed and implemented. The third process is undertaken as an independent process to assess the impact and effectiveness of policies. The Global Village Foundation also works in close coordination with think tanks working on specific issues, NGOs working in different social and economic sectors and research and educational institutions established and run by governments.</p></div>
      </div>
      
    </article>  
  </section>
  <div class="row">
    <section>
     <div class="header">
        <h1>GVF news</h1>
        <hr>
      </div>
      <div class="col-md-12">
      <%= render 'layouts/newsCarousel' %>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="header">
      <div>
        <h1>our partners</h1>
        <hr>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12">
      <section class="partners">
            <section class="logos">
                <img alt="Nasscom" src="<%= asset_path('nasscom.png') %>">
                <img alt="Kashmir University" src="<%= asset_path('jk.png') %>">
            </section>
            <hr>
      </section>
      </div>
    </div>
  </div>
</div>
