<% provide(:title, "Useful Links") %> 
<h1>Useful Links</h1>
<div class="links well">
	<ul>
		<li>
			<a href="http://www.undp.org/content/dam/india/docs/SSS-2015.pdf">Social Sector Service Delivery: Good Practices Resource Book 2015</a>
		</li>
		<li>
			<a href="http://indiaincorporated.com/news-archive-indiainc.html">India Inc. News Archive</a>
		</li>
		<li>
			<a href="http://tradebriefs.com/index.php?option=com_acymailing&ctrl=archive&task=view&mailid=914&tmpl=component#catid_44">TRADE Briefs Archive</a>
		</li>
		<li>
			<a href="http://mandrillapp.com/track/click/30109106/swarajyamag.com?p=eyJzIjoiMFVqVHMyT3NGSnNvckMtQUxpRVdrZEp4eXVvIiwidiI6MSwicCI6IntcInVcIjozMDEwOTEwNixcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvc3dhcmFqeWFtYWcuY29tXFxcL3BvbGl0aWNzXFxcL21vZGlzLXByaW9yaXR5LXNob3VsZC1iZS10by1idWlsZC1hLWNvYWxpdGlvbi1vZi1zdGF0ZXMtdG8tZ2V0LXRoaW5ncy1kb25lXFxcLz91dG1fc291cmNlPU9mZnN0dW1wZWQmdXRtX21lZGl1bT1PZmZzdHVtcGVkJnV0bV90ZXJtPU9mZnN0dW1wZWQmdXRtX2NhbXBhaWduPU9mZnN0dW1wZWRcIixcImlkXCI6XCIyNDRhNDNhZjMxNzA0MDA2OGEwY2RhNzhmOWRiZDU3MlwiLFwidXJsX2lkc1wiOltcIjgzNTY0MGUzMDgzMjY1NjE4NDhkNjA2MWY4MmZkN2RjZTg2YmRjMzBcIl19In0">Modi’s Priority Should Be To Build A Coalition Of States To Get Things Done</a>
		</li>
	</ul>
</div>