<% provide(:title, "About GVF") %> 
<h1>About GVF</h1>
<div class="row">
    <div class="col-md-8">
        <p>The Global Village Foundation (GVF) is a fledgling research institute working in the field of framing, implementation assistance and assessment of public policies in the States as well as at the level of Center in India. GVF is a registered public trust under the Indian Trust Act, 1882 primarily engaged in social and economic research.
        <br><br>
        </p>
    </div>
    <div class="col-md-4">
        <img alt="GVF" src="<%= asset_path('logo-transparent-large.png') %>" style="max-height:250px;max-width:250px;align:center">
    </div>
</div>
<h1>Chairperson's Note</h1>
<p>Global Village Foundation was established in January 2015 with a mission to provide research based, efficient and appropriate policy frameworks. The driving force of our organization is to achieve an equitable society sustained by holistic and responsive development. </p>

<p>In the past year, we have worked with the state government of Haryana and achieved many a milestones. GVF is engaged in capacity building of government officials through specific and general programs. Many of the subjects on which GVF has worked have been implemented in Haryana. We have successfully persuaded NASSCOM to facilitate skill development of youth in Haryana with an aim to create 50000 jobs in the ITes companies.  GVF has been appointed as a nodal agency to facilitate this process under a Memorandum of Understanding entered into between Technical Education Department, Government of Haryana, NASSCOM Foundation and GVF. The suggestion of amnesty scheme under Haryana Value Added Tax to release amounts clogged in court proceedings was given by GVF and this too has been implemented. </p>

<p>After thorough research, a range of suggestions has been made by GVF on Education, Industry Reforms and Public Finance. These policy suggestions have been given to the State Government from time to time. The success of these suggestions has been widely reported and acknowledged in media.</p>

<p>GVF is actively involved on issues relating to power sector, industrial policy and education in the State of Jammu and Kashmir. The Government of Jammu and Kashmir has adopted the policy suggestions of the GVF in their Industrial Policy. The policy suggestions so adopted involve streamlining the single window system to facilitate ease of doing business. University of Jammu &Kashmir has signed an MoU with Concentrix with the efforts of GVF for the skill development of its students from the CSR fund of the company.</p>

<p>This report provides a picture of the many out reach programs we will work in our future. We aspire to involve and inspire dialogue from all stakeholders concerned through this message.</p>
<br><br>
<h1>Objectives:</h1>
<p>GVF works in the field of framing of public policies, advising in implementation of public policies and academic analysis assessment and publication. GVF is involved in economic and social policies and capacity building of Government officers. It brings in experts from different fields to give inputs in policies for improving governance and also engages in executive training programme. The objectives of both the organizations are same. GVF has earned expertise and name in a short duration.
</p>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Organization Structure
        </h1>
        <p>The GVF functions through a structure at the following levels.</p>
        <ul>
            <li>Advisory Council</li>
            <li>Board of Trustees</li>
            <li>Governing Body</li>
            <li>Fellows</li>
            <li>Researchers</li>
        </ul>

        <br>

        <div class="row">
            <div class="col-md-12">
                <img src="<%= asset_path('gvf_org_chart.png') %>">

            </div>
        </div>
    </div>
</div>
<%= render 'layouts/work' %> 
