<% provide(:title, "Governing Council") %> 
<h1>Governing Council</h1>

The Members of the Governing Body are as follows:
<ul>
	<br>
	<li>
		Balram Nandwani, CA, Independent Director, Uttar Haryana Bijli Vitran 
	</li>
	<br>
	<li>
		Tilak Chadnana, CA, Director, Haryana State Industrial Development 
	</li><br>
	<li>
		Aniruddha Rajput, Advocate Supreme Court of India and expert on foreign 

		Nigam(UHBVN) Expert on energy sector.

		Corporation (HSIDC), Expert in public finance.

		investment and international trade, BSL, LLM (London School of 

		Economics), PhD Submitted (National University Singapore).

		Global Citizenship Programme of Concentrix Corporation.
	</li><br>
	<li>
		Raj Nehru, Asia HR Head of IBM- Concentrix Corporation, Chairman of 
	</li><br>
	<li>
	Sumit Yadav
	</li><br>
	<li>
		Dr. Onkar Rai, Director General, Software Technology Parks of India (STPI) 
		(Invited Member of Governing Body)
	</li><br>
	<li>
		Bajrang Lal Bangra, Former CMD, National Aluminum Company (NALCO) 
		(Invited Member of Governing Body)
	</li><br>
	<li>
		Chandra Wadhwa, Former President, Institute of Cost and Management 
		Accountants of India. (Invited Member of Governing Body)
	</li>
</ul>
<%= render 'layouts/governingCouncil' %>