<% provide(:title, "Governing Council") %> 
<h1>Governing Council</h1>
Governing Body:

The Members of the Governing Body are as follows:

a) Balram Nandwani, CA, Independent Director, Uttar Haryana Bijli Vitran 

b) Tilak Chadnana, CA, Director, Haryana State Industrial Development 

c) Aniruddha Rajput, Advocate Supreme Court of India and expert on foreign 

Nigam(UHBVN) Expert on energy sector.

Corporation (HSIDC), Expert in public finance.

investment and international trade, BSL, LLM (London School of 

Economics), PhD Submitted (National University Singapore).

Global Citizenship Programme of Concentrix Corporation.

d) Raj Nehru, Asia HR Head of IBM- Concentrix Corporation, Chairman of 

e) Sumit Yadav

f) Dr. Onkar Rai, Director General, Software Technology Parks of India (STPI) 

g) Bajrang Lal Bangra, Former CMD, National Aluminum Company (NALCO) 

h) Chandra Wadhwa, Former President, Institute of Cost and Management 

(Invited Member of Governing Body)

(Invited Member of Governing Body)

Accountants of India. (Invited Member of Governing Body)