<!-- The content of your page would go here. -->
<footer class="footer-distributed">
	<div class="row">
		<div>
			<div>
				<p><center>Global Village Foundation &copy; 2016</center></p>
			</div>
		</div>
	</div>
</footer>