<!-- The content of your page would go here. -->
<footer class="footer-distributed">
	<div class="row">
		<div>
			<div class="row">
				<div class="col-md-4">
					<p><center>Global Village Foundation &copy; 2015</center></p>
				</div>
				<div class="col-md-4">
					<ul>
						<li>
							<%= link_to blog_path do %>
								Blog
							<% end %>
						</li>
						<li>
							<%= link_to contact_path do %>
								Contact
							<% end %>
						</li> 
						<li>
							<%= link_to links_path do %>
								Useful Links
							<% end %>
						</li>   
					</ul>
				</div>
				<div class="col-md-4">
				<br>
					<strong>Address:</strong><br>
					K-13, Lajpat Nagar - II<br>
					Delhi - 110034<br>
					Tel no: 011-43735356, 57
					<br><br>
				</div>
			</div>
		</div>
	</div>
</footer>