<!-- The content of your page would go here. -->
<footer class="footer-distributed">
	<div class="row">
		<div>
			<div class="row">
				<div class="col-md-6">
					<p><center>Global Village Foundation &copy; 2016</center></p>
					</div>
					<div class="col-md-6">
						<strong>Registered Office:</strong><br>
						301-A, Ring Road Mall, Mangalam Place,<br>
						Deepali Chowk, Rohini Sector-3, <br>Delhi-110085<br>
						<br>
						Tel no: 011-43735356, 57
					</div>

			</div>
		</div>
	</div>
</footer>