<div class="row" id="memDiv">
	<h3 class="page-header"><i class="fa fa-users"></i>&nbsp;Professionals</h3>
	<% @members.each_with_index do |person, index| %>
		<div class="col-md-4 col-lg-4 text-center">
			<% if Rails.application.assets.find_asset('people/'+person[:id]+'.jpg') != nil %>
		    	<img src="<%= asset_path('people/'+person[:id]+'.jpg') %>" class="img-circle img-responsive img-center center-block top-buffer">
		    <% else %>
		    	 <img src="<%= asset_path('200x200.png') %>" class="img-circle img-responsive img-center center-block">
		    <% end %>
		    <h3><%= person[:name] %></h3>
		        <span class="text-nowrap"><small><%= person[:position] %></small></span>
		</div>
	<% end %>
</div>