
<h1>Areas of Expertise</h1>

<p>GVF works on following areas of policy at present.</p>
<ul>
    <li>
        <strong>Agriculture, Animal Husbandry and Rural Welfare:</strong><br>
        <p>
        Advised the Government of Haryana and accordingly helped the Government in 
        constituting clusters of 10-15 villages in each district. These clusters would be specialized 
        in producing agricultural products and agro processing based on market demands. They 
        all will be diverse depending on the ecological zone of the region. There are efforts made 
        for market linkages to ensure sound income for the farmers.</p>
    </li>
    <li>
        <strong>Skill Development:</strong><br>
        <p>
        GVF has earned accolades in this field. It has succeeded in entering into MOU with 
        NASSCOM Foundation, which is a nodal association in the IT industry. GVF is 
        organizing a Summit of IT CEOs and is going to take commitments from them to skill 
        and employ a certain number of students from Haryana each year. GVF is working on 
        similar lines in the automobile sector and other skill for ensuring self employment.</p>
    </li>
    <li>
        <strong>Energy Sector Reforms:</strong><br>
        <p>GVF has done a comprehensive study of losses suffered in generation, transmission and 
        distribution of power and on renewable sources. GVF is currently preparing a 
        comprehensive study with reforms to be suggested in all the related aspects of energy. 
        The comprehensive study is important. The Aggregate Technical and Commercial Losses 
        are more than 40%. This is a sign of concern since it is affecting the fiscal health of the 
        state and public interest. Due to this fiscal drain the State is unable to use the resources 
        for social and other economical development activities. Immediate steps need to be 
        taken to address these problems. GVF has a dedicated team of experts with detailed 
        knowledge of the problems in the power sector companies. The study will be watershed 
        in the field. It will have a strong impact and needs to be urgently addressed. A 
        comprehensive study on the power sector will be opportune.</p>
    </li>

    <li>
        <strong>Public Finance (Budget Preparation and Tax Reforms):</strong><br>
        <p>The Public Finance team of GVF comprises of tax experts, Chartered Accountants, Cost 
        Accountants, lawyers and economists of high standing. GVF conducted a one day 
        interactive session with the concerned officers of Excise, Taxation, Revenue and 
        Planning Department of Government of Haryana. Honourable Finance Minister Captain 
        Abhimanyu was present at this interaction. The workshop took place on 7 January 2015. 
        Some of the recommendations such as Amnesty Scheme for VAT has been already 
        implemented by the State Government.</p>
    </li>
    <li>
        <strong>Industry Reforms (Large, MSME, Innovation and Start-ups):</strong><br>
        <p>
        The Industry Reforms team of GVF is comprehensive. It has experts with experience in 
        large companies, MSMS, innovation and start-ups. The team involves academics, 
        economists and industrialists. GVF did a two day workshop on 17 and 18 December 
        2015 on Industry Reforms in Haryana. Honourable Industry Minister Captain 
        Abhimanyu was present in the workshop and all concerned government officers also 
        actively participated. The outcome of the meeting was meant to be presented to the 
        Honourable Chief Minister.</p>
        <p>
        GVF is doing the project of conducting District wise profiling for the State of 
        Haryana. This will held in understanding the strengths of regions of Haryana where 
        industry has not yet grown. Resources could be allocated better and balanced regional 
        growth would be achieved. There is a need to hire 10 researches to conduct this research. 
        The grant would include their salaries, ta/da and other expenses. Detailed primary date 
        will be collected from all the districts. Secondary data will be analyzed. A report will be 
        prepared and submitted. This report will help in understand the situation of industry 
        better in Haryana and making necessary changes in policies.
        </p>
    </li>
    <li>
        <strong>Advising on Investor Summit (Happening Haryana 2016):</strong><br>
        <p>
        GVF is involved in the overall planning and specific teams constituted for conducting 
        the Happening Haryana Summit 2016. GVF is actively engaged in these activities and 
        supports government with expert advice.</p>
    </li>
    <li>
        <strong>Women Empowerment and Beti Bachao Beti Padhao:</strong><br>
        <p>
        GVF works in close coordination with the Adviser to Chief Minister Shri Yogendra 
        Malik and has assisted in organizing groups of workers in different regions of Haryana 
        with low sex ratio. GVF has made many suggestions in this direction which are showing 
        impressive results.</p>
    </li>
    <li>
        <strong>Public Health:</strong><br>
        <p>
        GVF is advising the Central Government on public health. GVF is advising the 
        Honourable Health Minister Shri J P Naddha on budgetary provisions and management.</p>
    </li>
    <li>
        <strong>Urban Development:</strong><br>
        <p>
        GVF has a team working on issues of Urban Development. GVF is now actively 
        involved in helping Karnal and Faridabad for their SMART City project after the first round.</p>
    </li>
    <li>
        <strong>Cooperatives:</strong><br>
        <p>
        GVF is working to develop cooperative culture in Haryana. A team is constituted, which 
        is working on ways in which difficulties in registration and operation for cooperatives 
        can be taken care of.</p>
    </li>
    <li>
        <strong>Research & Publications:</strong><br>
        <p>
        The research and publication group of GVF comprises of people with graduate and
        postgraduate qualifications in their areas of expertise from renowned universities over 
        the world. The members of this team have published in international journals published 
        by Oxford University Press and Cambridge University Press and journals published by 
        the World Bank. Our members have published innumerable books and articles. GVF 
        would be soon coming out with its own publication.</p>
    </li>
    <li>
        <strong>Capacity Building of Government Officials:</strong><br>
        <p>
        GVF is in a position to conduct training of government officials for transitioning into 
        the GST Regime. Members of GVF have conducted training sessions on GST in 
        different parts of the country. There are other areas of training of government officials 
        on which GVF is working.</p>
    </li>
</ul>
      